<!-- mt-auto with VH100 in the boilerplate makes the footer go to the bottom on each webpage. -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center">
    <span class="text-muted">© 2021 AirCamp</span>
  </div>
</footer>
