#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

@media (max-width: 430px) {
  #cluster-map {
    height: 300px;
  }
  #campgroundsSubtitle {
    margin-left: -50px;
  }

  #map {
    height: 200px;
  }
}
